{% load staticfiles %}
<html>
<head>
    <title>Żwirek i muchomorek</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>

</head>
<body>
<div class="page-header">
    <a href="{% url "core.views.post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="/blog/gallery" class="top-menu"> <span class="glyphicon glyphicon-eye-open"></span></a>

    <h1><a href="/blog">Agata USA Blog</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="page-index">
    {% block page_num_footer %}
    {% endblock %}
</div>
</body>
</html>