{% extends "base.html" %}
{% load i18n %}
{% block title %}Page not found{% endblock %}
{% block content %}
<h1>Page not found</h1>
<iframe width="854" height="510" src="https://www.youtube.com/embed/6ISIgcMSOUo" frameborder="0" allowfullscreen></iframe>
{% endblock %}