{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url "core.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|safe }}</p>
        </div>
    {% endfor %}
{% endblock content %}

{% block page_num_footer %}
    <div class="container">
      <ul class="pagination">
      {% if act_page_num == 0 %}
        <li class="disabled"><a href="#">«</a></li>
      {% else %}
        <li><a href="{% url "list" act_page_num|add:"-1" %}">«</a></li>
      {% endif %}
          {%  for page_num in pages_numbers %}
              {% if page_num == act_page_num%}
                  <li class="active"><a href="#">{{ page_num|add:"1"  }}</a></li>
              {% else %}
                  <li><a href="{% url "list"  page_num  %}">{{ page_num|add:"1" }}</a></li>
              {% endif %}
          {% endfor %}
        {% if is_last_page %}
            <li class="disabled"><a href="#">»</a></li>
        {% else %}
            <li><a href="{% url "list" act_page_num|add:"1" %}">»</a></li>

        {% endif %}
      </ul>
    </div>
{% endblock page_num_footer %}