{% extends "base.html" %}

{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
            <h1> Do You really want to remove this post</h1>
        <button type="submit" class="save btn btn-default">REMOVE</button>
    </form>
{% endblock %}
