{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block content %}


    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">Latest photo galleries


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">



                {% if gallery.description %}{{ gallery.description|safe }}{% endif %}
                {% for photo in gallery.public %}


                {% if forloop.first %}
                      <div class="item active">
                {% endif %}
                {% if not forloop.first %}
                    <div class="item">
                {% endif %}

	             <img src="{{ photo.get_display_url }}" alt="{{ photo.title }}">
                        <div class="carousel-caption">
                            <h3>{{ photo.title }}</h3>
                            <p>{{ photo.caption }}</p>
                        </div>
                    </div>
                {% endfor %}


            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endblock %}
